version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: user_role_management_app
    volumes:
      - ./user_role_management_system:/var/www
    depends_on:
      - mysql
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: user_role_management_nginx
    ports:
      - "8000:80"
    volumes:
      - ./user_role_management_system:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: user_role_management_mysql
    environment:
      MYSQL_DATABASE: user_role_management
      MYSQL_USER: ITVisionHubThuzar
      MYSQL_PASSWORD: PrisonFlag308
      MYSQL_ROOT_PASSWORD: PrisonFlag308
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

  redis:
    image: redis:alpine
    container_name: user_role_management_redis
    ports:
      - "6379:6379"
    networks:
      - laravel

  queue:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: user_role_management_queue
    volumes:
      - ./user_role_management_system:/var/www
    depends_on:
      - redis
      - mysql
    command: php artisan queue:work redis --verbose --tries=3 --timeout=90
    networks:
      - laravel
    

networks:
  laravel:

volumes:
  mysql_data:
